$color-text: #ff6060;

@mixin slide-align {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-log {
  @include slide-align();
  justify-content: flex-start;

  span {
    background: $color-text;
    margin-right: 20px;
    width: 115px;
    height: 25px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    padding: 5px 15px;

    @media screen and (max-width: 768px) {
      width: 84px;
      height: 18px;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      border-radius: 8px;
    }
  }
}
