.main-collapse {
  // padding: 50px 0;
  margin-bottom: 20px;

  .head {
    background: #ff6060;
    border-radius: 5px;
    padding: 0 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p.title {
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
    }

    img {
      cursor: pointer;

      &.active {
        transform: rotate(180deg);
        transition: ease-in-out;
      }
      &.desactive {
        transform: rotate(0deg);
        transition: ease-in-out;
      }
    }
  }

  .collapse-content {
    padding-top: 0;
    background: #fbfbfb;
    padding: 10px 15px;
    line-height: 25px;
    font-size: 16px;
    height: auto;
    // display: none;
  }
}
