.main-collapse {
  // padding: 50px 0;
  margin-bottom: 20px;
  margin-top: 10px;

  .head {
    background: #ff6060;
    border-radius: 5px;
    padding: 0 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      width: 95%;
      height: 30px;
    }

    p.title {
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }

    img {
      cursor: pointer;
      @media screen and (max-width: 768px) {
        width: 16px;
        height: 16px;
      }

      &.active {
        transform: rotate(180deg);
        transition: ease-in-out;
      }
      &.desactive {
        transform: rotate(0deg);
        transition: ease-in-out;
      }
    }
  }

  .collapse-content {
    padding-top: 0;
    background: #fbfbfb;
    padding: 10px 15px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
    height: auto;
    // display: none;

    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 17px;
    }
  }
}
