//banner
.banner {
  position: relative;
  width: 100%;
  height: 223px;
  background: #222;
  border-radius: 25px;
  margin-bottom: 10px;

  @media screen and (max-width: 768px) {
    height: 111px;
    text-align: left;
    border-radius: 10px;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    opacity: 0.5;
    @media screen and (max-width: 768px) {
      border-radius: 10px;
    }
  }
  .banner-phone {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 768px) {
      height: 48px;
      width: 225px;
      left: 28%;
    }

    span {
      color: #ffffff;
      font-size: 40px;
      font-weight: 700;

      @media screen and (max-width: 768px) {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}
