$color-main: #ff6060;
@mixin text-error {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 100vh;

  @media screen and (max-width: 768px) {
    // top: 0px;
    height: 100%;
    min-height: 80vh;
  }

  .title-404 {
    font-size: 250px;
    font-weight: 700;
    color: $color-main;
    @include text-error();
    top: -20%;

    @media screen and (max-width: 768px) {
      font-size: 96px;
      top: 5%;
    }
  }

  .sub-title {
    font-size: 25px;
    color: $color-main;
    top: 45%;
    @include text-error();
    // font-family: 'Montserrat';
    font-weight: 500;
    @media screen and (max-width: 768px) {
      font-size: 19px;
      top: 40%;
    }
  }
  span a {
    top: 70%;
    @include text-error();
    color: #000000;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      // top: 60px;
    }
  }
}
